<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.evernote_android" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashScreen"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.main.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.evernote.client.android.EvernoteOAuthActivity"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".activity.NewNoteActivity"
            android:label="@string/title_activity_new_note"
            android:parentActivityName=".activity.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.main.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ReadNoteActivity"
            android:label="@string/title_activity_read_note"
            android:parentActivityName=".activity.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.main.MainActivity" />
        </activity>

        <provider
            android:name=".provider.EvernoteContentProvider"
            android:authorities="com.company.evernote_android.provider"
            android:exported="false"
            />

            android:authorities="tp.evernote.provider.notes" />

        <service android:name=".sync.EvernoteService" />


        <service
            android:name=".provider.DBService"
            android:enabled="true"
            android:exported="false"
            />

    </application>

</manifest>
